#community-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  border-radius: 0.5em;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

#community-card:hover {
  background-color: #f6f8f9;
}

#community-card span {
  padding-left: 1em;
}
